{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{STATIC_URL}}css/slides.css">
<div id = "slideshow">
    <ul class = "slide">
        <li><img src="{{ STATIC_URL }}img/photo/img1.png"></li>
        <li><img src="{{ STATIC_URL }}img/photo/img2png"></li>
        <li><img src="{{ STATIC_URL }}img/photo/img3.png"></li>
        <li><img src="{{ STATIC_URL }}img/photo/img4.png"></li>
        <li><img src="{{ STATIC_URL }}img/photo/img5.png"></li>
        <li><img src="{{ STATIC_URL }}img/photo/img6.png"></li>
    </ul>
    <span class="arrow previous"></span>
    <span class="arrow next"></span>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="{{STATIC_URL}}js/slides.js"></script>
{% endblock %}